PORT=3026

MONGO_URL=mongodb://admin:admin@localhost:27017/capes
#MONGO_POOL_SIZE=10

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_HASH=

SENTRY_DSN=

INFLUX_HOST=
INFLUX_PORT=8086
INFLUX_PROTOCOL=http
INFLUX_USERNAME=
INFLUX_PASSWORD=
INFLUX_DATABASE=
